*.c++ linguist-detectable=true
*.dart linguist-detectable=true
*.java linguist-detectable=false
*.c linguist-detectable=false
*.html linguist-detectable=false
*.swift linguist-detectable=false
*.cmake linguist-detectable=false
* linguist-vendored
*.dart linguist-vendored=false
*.c++ linguist-vendored=false



 
